.call {
  &__title {
    margin: 12px 0;
    font-size: $font-xxlarge;
    text-transform: uppercase;
    text-align: left;

    @include bp(small) {
      font-size: $font-xlarge;
    }
  }

  .contact-progress {
    h3 {
      margin-bottom: 4px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 2px;
        padding: 4px;
        height: 50px;
        background-color: $gray-xlight;
        border-left: 3px solid $gray-xlight;
        font-family: $font-sans-normal;
        overflow: hidden;

        &.active {
          border-left-color: $blue;
        }

        img {
          margin: 3px 6px 0 3px;
          width: 36px;
          border-radius: 18px;
          float: left;
        }

        a {
          color: $blue;
          // text-decoration: underline;
        }

        h4 {
          margin: 2px 0 0 0;
          font-size: 17px;
          font-weight: bold;
        }

        p {
          font-size: 15px;
          a {
            text-decoration: underline;
          }
        }
      }
    }

    .help {
      margin: 4px 0 0 6px;
      font-size: 14px;
      font-style: italic;
    }
  }

  &__contact {
    margin-top: 20px;

    &__image {
      overflow: hidden;
      float: right;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      background-color: $gray-xlight;

      img {
        width: 100%;
        height: auto;
      }

      @include bp(small) {
        position: relative;
        margin: auto;
      }
    }

    &__name {
      font-size: 47px;
      padding: 0;

      span {
        font-weight: normal;
      }
    }

    &__phone {
      font-size: $font-xxxlarge;
      padding-top: 0;
      line-height: 1em;
    }

    &__show-field-offices {
      font-size: $font-small;

      a {
        cursor: pointer;
      }
    }

    &__field-offices__header {
      margin: 0;
    }

    &__field-office-list {
      font-size: $font-normal;
      line-height: 1.4em;
      list-style: none;
      margin: 0 0 16px 0;
      padding: 0;
    }

    &__name,
    &__phone {
      font-weight: bold;
      margin: 0 150px 0 0;

      @include bp(medium) {
        font-size: $font-xlarge;
      }

      @include bp(small) {
        font-size: $font-xlarge;
        margin: 0;
      }
    }
  }

  &__nocontact {
    background-color: #eee;
    padding: 3px 18px;
    border-radius: 10px;

    h2 {
      font-size: $font-xlarge;
      margin-top: 12px;
      // text-align: center;
    }
    p {
      // font-size: $font-xlarge;
      // font-weight: bold;
      line-height: 1.4em;
      margin: 0 0 16px 0;
    }
    a {
      cursor: pointer;
    }
  }

  &__script {
    clear: both;
    padding-top: 20px;

    &__link {
      font-size: 36px;
      margin: 20px 0 10px 0;

      a {
        text-decoration: underline;
      }
    }

    &__body {
      background-color: $gray-xlight;
      border-radius: 5px;
      color: $gray;
      padding: 20px;
    }
  }

  &__contact__type,
  &__contact__reason__header,
  &__contact__field-offices__header,
  &__script__header,
  &__outcomes__header {
    font-weight: bold;
    font-style: italic;
    font-size: $font-large;
  }

  &__outcomes {
    margin: auto auto 24px auto;
    padding: 0;

    &.preview {
      opacity: 0.4;

      button {
        &:hover {
          color: $blue;
          background-color: $blue-light;
          cursor: inherit;
        }
      }
    }

    &__items {
      display: flex;
      flex-wrap: wrap;

      button {
        flex-grow: 1;
        flex-basis: 194px;
        border: 0;
        margin: 1px;
        padding: 16px 0;
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
        background-color: $blue-light;
        text-align: center;

        &.selected {
          color: #fff;
          background-color: $red;
        }

        &:hover {
          background-color: $red;
          cursor: pointer;
        }

        &:focus {
          background-color: $blue-light;
        }
      }
    }
  }
}

.voter {
  .call__reason {
    li {
      font-size: 18px;
      line-height: 1.4em;
      margin-bottom: 12px;
    }
  }

  .call__outcomes {
    &__items {
      button {
        flex-basis: 40%;
      }
      &.disabled {
        opacity: 0.3;

        button:hover {
          color: inherit;
          background-color: $blue-light;
          cursor: inherit;
        }
      }
    }
    &__support {
      .novote {
        flex-grow: 5;
      }
      button {
        flex-basis: 10%;
      }
    }
  }
}
