.call {
  &__title {
    margin: 2px 0 1rem 0;
    font-size: 42px;
    text-align: left;
    font-weight: 900;
    letter-spacing: 0.05rem;
    text-transform: uppercase;

    @include max-width-bp(small) {
      font-size: $font-xlarge;
    }
  }

  .contact-progress {
    h3 {
      margin-bottom: 4px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 2px;
        padding: 4px;
        // height: 50px;
        background-color: $gray-xlight;
        border-left: 3px solid $gray-xlight;
        font-family: $font-base;
        overflow: hidden;

        &.optional img {
          margin-left: 20px;
        }

        &.active {
          border-left-color: $blue;
        }

        img {
          margin: 3px 6px 0 3px;
          width: 36px;
          height: 36px;
          border-radius: 18px;
          float: left;
          object-fit: cover;
        }

        a {
          color: $blue;
          // text-decoration: underline;
        }

        h4 {
          margin: 2px 0 0 0;
          font-size: 17px;
          font-weight: bold;
        }

        p {
          font-size: 15px;
          margin: 0;
          a {
            text-decoration: underline;
          }
        }
      }
    }

    .help {
      margin: 4px 0 0 6px;
      font-size: 14px;
      font-style: italic;
    }
  }

  &__contact {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-weight: bold;

    @include bp(large) {
      flex-direction: row;
      margin-bottom: 1rem;
      align-items: center;
    }

    &__image {
      @include bp(large) {
        margin-right: 2rem;
      }

      img {
        height: 7rem;
        width: 7rem;

        @include bp(medium) {
          height: 8.5rem;
          width: 8.5rem;
        }

        border-radius: 50%;
      }
    }

    &__name {
      margin: 0;
      padding: 0;

      font-size: 1.8rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;

      @include bp(small) {
        font-size: 2.5rem;
      }

      @include bp(large) {
        font-size: 2.75rem;
        margin-bottom: 0;
      }

      span {
        font-weight: normal;
      }
    }

    &__phone {
      font-size: 2.4rem;

      @include bp(small) {
        font-size: 3rem;
      }

      @include bp(large) {
        font-size: 4.25rem;
        margin-top: 0;
      }
      padding-top: 0;
      line-height: 1em;
    }

    &__show-field-offices {
      font-size: $font-small;

      a {
        cursor: pointer;
      }
    }

    &__field-offices__header {
      margin: 0;
    }

    &__field-office-list {
      font-size: $font-normal;
      line-height: 1.4em;
      list-style: none;
      margin: 0 0 16px 0;
      padding: 0;
    }
  }

  &__nocontact {
    background-color: #eee;
    padding: 3px 18px;
    border-radius: 10px;

    h2 {
      font-size: $font-xlarge;
      margin-top: 12px;
      // text-align: center;
    }
    p {
      // font-size: $font-xlarge;
      // font-weight: bold;
      line-height: 1.4em;
      margin: 0 0 16px 0;
    }
    a {
      cursor: pointer;
    }
  }

  &__script {
    clear: both;
    padding-top: 20px;

    &__link {
      font-size: 36px;
      margin: 20px 0 10px 0;

      a {
        text-decoration: underline;
      }
    }

    &__body {
      background-color: $gray-xlight;
      padding: 20px;
    }
  }

  &__contact__type,
  &__contact__reason__header,
  &__contact__field-offices__header,
  &__script__header,
  &__outcomes__header {
    font-weight: bold;
    font-size: $font-large;
  }

  &__outcomes {
    margin: auto auto 24px auto;
    padding: 0;

    &.preview {
      opacity: 0.4;

      button {
        &:hover {
          color: $blue;
          background-color: $blue-light;
          cursor: inherit;
        }
      }
    }

    &__items {
      display: flex;
      flex-wrap: wrap;

      button {
        flex-grow: 1;
        font-size: 1.3rem;
        flex-basis: 180px;
        margin: 2px;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;

        @include bp(medium) {
          flex-basis: 150px;
        }

        @include bp(large) {
          border-radius: 0;
          border-left-width: 0;
          &:first-of-type {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            border-left-width: 1px;
          }
          &:last-of-type {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
          }
        }
      }
    }
  }
}

.call__reason {
  p,
  ol,
  ul {
    line-height: 1.6;
  }
  ol,
  ul {
    font-size: $font-normal;
  }
  blockquote {
    margin-left: 0;
    border-left: 0.3rem solid $blue;
    padding-left: 1.2rem;
  }
}

.voter {
  .call__reason {
    p {
      line-height: 1.55;
    }
    li {
      font-size: 18px;
      line-height: 1.4em;
      margin-bottom: 12px;
    }
  }

  .call__outcomes {
    &__items {
      button {
        flex-basis: 40%;
      }
      &.disabled {
        opacity: 0.3;
      }
    }
    &__support {
      .novote {
        flex-grow: 5;
      }
      button {
        flex-basis: 10%;
      }
    }
  }
}
